<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Item ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Microwave Oven</string>
				<key>Image</key>
				<string>Oven</string>
				<key>Price</key>
				<integer>24000</integer>
			</dict>
			<dict>
				<key>Item ID</key>
				<integer>2</integer>
				<key>Name</key>
				<string>Vacume Cleaner</string>
				<key>Image</key>
				<string>VacumeCleaner</string>
				<key>Price</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>Item ID</key>
				<integer>3</integer>
				<key>Name</key>
				<string>Telivision</string>
				<key>Image</key>
				<string>TV</string>
				<key>Price</key>
				<integer>10000</integer>
			</dict>
		</array>
		<key>Category</key>
		<string>Electronics</string>
		<key>Category ID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Item ID</key>
				<integer>4</integer>
				<key>Name</key>
				<string>Table</string>
				<key>Image</key>
				<string>Table</string>
				<key>Price</key>
				<integer>8000</integer>
			</dict>
			<dict>
				<key>Item ID</key>
				<integer>5</integer>
				<key>Name</key>
				<string>Chair</string>
				<key>Image</key>
				<string>Chair</string>
				<key>Price</key>
				<integer>4000</integer>
			</dict>
			<dict>
				<key>Item ID</key>
				<integer>6</integer>
				<key>Name</key>
				<string>Almirah</string>
				<key>Image</key>
				<string>Almirah</string>
				<key>Price</key>
				<integer>12000</integer>
			</dict>
		</array>
		<key>Category</key>
		<string>Furniture</string>
		<key>Category ID</key>
		<string>2</string>
	</dict>
</array>
</plist>
